.navi {
    padding: 0;
    margin: 5px;
    display: flex;
    list-style: none;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.navi .navi-item {
    padding: 0;
    display: block;
    list-style: none;
    margin: 5px;
}

.custom_style_alert {
    width: 1200px;
    align-self: center;
    background-color: #d5ba4f99;
    border-color: #d5ba4f;
    color: #000000;
}

.custom_align {

    text-align: left;
}
